{% extends 'base.html' %} 
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/entrystyle.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css">
    <script src="{% static "js/home.js" %}"> </script>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %} 
            <p class="txt"> {{ message }} </p>
        {% endfor %}
    {% endif %}
        
        <div class="ab-cont">
            <div class="ab icon-ab">
                <i class="fa fa-bars"></i>
            </div>
            <ul class="options">
                <li>
                    <span class="icon-ab-label" >Add Income</span>
                    <a href="javascript:show_inc()" class="icon-ab ab-txt"  > 
                        <i class=" fa-solid fa-plus"></i> 
                    </a>
                </li>
                <li> 
                    <span class="icon-ab-label" >Add Expense</span>
                    <a href="javascript:show_exp()" class="icon-ab ab-txt"> 
                        <i class="fa-solid fa-plus"></i>
                    </a> 
                </li>
                <li> 
                    <span class="icon-ab-label" >Find Transactions</span>
                    <a href="javascript:go_find()" class="icon-ab ab-txt">
                        <i  class=" fa-solid fa-search"></i>
                    </a>
                </li>
            </ul>

        </div>

        <!-- <a href="javascript:show_inc()" class="material-icons "  ><i> add</i></a>
        <a href="javascript:show_exp()" class="material-icons "> <i> add</i></a>
        <a href="javascript:show_options()" class="material-icons float-wid "> 
        <i class="fa fa-bars"></i></a> -->
    
    <span class="txt txt-home">
    Welcome {{ user.first_name }}! 
    </span>
    <br/>
    <div>
        <input type="date" id="appdate" name='appdate' class="dtpk" 
           value="{{ appdate }}" onchange="viewall()" />
        <div class="meter">
             <div class="box"><p class="txt"> Income</p><div class="box-com box-inc">   {{ totinc }}</div> </div>
             <div class="box"> <p class="txt"> Expense</p><div class="box-com box-exp">  {{ totexp }}</div> </div>
             <div class="box"><p class="txt"> Balance</p><div class="box-com box-bal">   {{ bal_amt }}</div></div>
        </div>
    </div>


    <div class="bgm_exp" id="container_exp">
       <div class="modal">
        <div class="close_exp" > + </div>
           
            <img src="{% static "imgs/unnamed.png" %}" height="50px" width="50px" alt="expense icon">
            <form action="javascript:addexp()" >
               <input type="text" hidden="" id="exp_id" />
               <input type="text" class="inp" id="txt_expname" name="txt_expname" placeholder="Enter the expense name" required />
               <input type="text" class="inp" id="txt_expamt" name="txt_expamt" placeholder="Enter the amount" required />
               <textarea  rows=3 cols=10 class="inp" id="txt_expdesc" name="txt_description" placeholder="Feel free to describe the expense here! Kindly do not include slash(/) ."></textarea>
               <input type="submit" value="Save" class="btn"/>
            </form>          
       </div>
   </div> 
   <!-- <div class="div-menus">
        <input type="button" class="btn" id="btn_showAdd" name="btn_showAdd" value="Add Expense" onclick="show_exp()" />
    </div> -->
    <div class="report" >
       <br/>   
       <!--This table needs to be redesigned with CSS GRID or Flexbox -->
        <table id="exptable" > 
               <thead><tr> <th> </th> <th> Expense name </th> <th> Amount (In Rs.) </th> <th> Description about the Expense </th> <th> Edit </th> <th> Delete </th> </tr> </thead> 
            {% for exp in exps %}
            <tr>
                <td>  <p hidden="" id="p_id" > {{ exp.id }} </p> </td>
                <td> {{ exp.exp_name }} </td>  
                <td class="amount" > {{ exp.exp_amount }} </td>
                <td> {{ exp.exp_desc }} </td>
                <td> 
                    <input type="button" value="✎" class = "del" onclick="showedit_exp('{{ exp.id }}', '{{ exp.exp_name }}', ' {{ exp.exp_amount }}' , '{{ exp.exp_desc }}' )" > 
                </td>
                <td>  
                    <input type="button" value="✘" class = "del" onclick="deleteexpense( '{{ exp.id }}' )" > 
                </td>
            </tr>    
            {% endfor %}
        </table>
    </div>
    <br/><br/>

    <div class="bgm_inc" id="container_inc">
       <div class="modal">
        <div class="close_inc" > + </div>
           
            <img src="{% static "imgs/unnamed.png" %}" height="50px" width="50px" alt="note icon">
            <form action="javascript:addinc()" >
               <input type="text" hidden="" id="inc_id" />
               <input type="text" class="inp" id="txt_incname" name="txt_incname" placeholder="Enter the Income name" required />
               <input type="text" class="inp" id="txt_incamt" name="txt_incamt" placeholder="Enter the amount" required />
               <textarea  rows=3 cols=10 class="inp" id="txt_incdesc" name="txt_description" placeholder="Feel free to describe the Income here! Kindly do not include slash(/) ."></textarea>
               <input type="submit" value="Save" class="btn"/>
            </form>          
       </div>
   </div> 
    <!-- <div class="div-menus">
        <input type="button" class="btn" id="btn_showAdd" name="btn_showAdd" value="Add Income" onclick="show_inc()" />        
    </div> -->
    <div class="report" >
       <br/>   
       <!--This table needs to be redesigned with CSS GRID or Flexbox -->
        <table id="inctable" > 
               <thead><tr> <th> </th> <th> Income name </th> <th> Amount (In Rs.) </th> <th> Description about the Income </th> <th> Edit </th> <th> Delete </th> </tr> </thead> 
            {% for inc in incs %}
            <tr>
                <td>  <p hidden="" id="p_id" > {{ inc.id }} </p> </td>
                <td> {{ inc.inc_name }} </td>  
                <td class="amount" > {{ inc.inc_amount }} </td>
                <td> {{ inc.inc_desc }} </td>
                <td> 
                    <input type="button" value="✎" class = "del" onclick="showedit_inc('{{ inc.id }}', '{{ inc.inc_name }}', ' {{ inc.inc_amount }}' , '{{ inc.inc_desc }}' )" > 
                </td>
                <td>  
                    <input type="button" value="✘" class = "del" onclick="deleteincome( '{{ inc.id }}' )" > 
                </td>
            </tr>    
            {% endfor %}
        </table>
    </div> 
    <script type="text/javascript" src="{% static "js/entry.js" %}" ></script>   

{% endblock %} 

        <!-- <span class="txt txt-home"> 
           <p>Total Expense amount for the day is : {{ totexp }}  </p>
           <p>Total Income for the day is : {{ totinc }} </p>
           <p>Balance Amount : {{ bal_amt }} </p>
        </span> -->