
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-title
{
    background-color: rgba(143, 188, 143, 0);
}

.app-title{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  background-color: inherit;
  border: 0;
  border-radius: 20px;
  padding: 5px;
  cursor:pointer;
  animation: welcome 2s ease;
}

.app-title:hover{
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 10px 20px dimgrey;
}
.nav{
  margin: 0;
  display:inline-block;
}
.nav-ul {
  display: flex;
  gap: 15px;
  text-decoration: none;
  list-style: none;
}

.collapse-icon{
  display:none;
}

@media screen and (max-width:500px)
{
  .collapse-icon{
    display: block;
    transform: scale(1.5) rotate(90deg);
    font-weight: bold;
  }
}